/* Fluid Video Embeds */
/* Containers/Structure */
.fve-video-wrapper { position: relative; overflow: hidden; height: 0; background-color: transparent; padding-bottom: 56.25%; margin: 0; z-index:8; top:-2.6041666667vw; }
.fve-video-wrapper iframe,
	.fve-video-wrapper video { position: absolute; display: block; top: 0; left: 0; width: 100%; height: 100%;}
.fve-video-wrapper .link .hyperlink-image { position: relative; display: none; }
.fve-video-wrapper .link .hyperlink-image img { position: relative; z-index: 2; width: 100%; }
.fve-video-wrapper .link .hyperlink-image .fve-play-button { position: absolute;  background-color: rgba(0, 0, 0, 0.85); background-size: 100% 100%; border-radius: 10px; }
.fve-video-wrapper .link .hyperlink-image:hover .fve-play-button:hover { background-color: rgba(0, 0, 0, 0.85);}
.blackout{;width:100%; height:100%; top:0; bottom:0; left: 0; right: 0; position:fixed; background-color:rgb(0,0,0);}
.clickable-layer{ position: absolute; top:0; left:0; width:100%; height:100%; z-index:9;}
.veil{z-index:11;}

/* Captions/Defaults */
video::cue {margin-bottom:100px; bottom:100px;}
video::-webkit-media-text-track-container {margin-bottom:100px; bottom:100px;}
video::-webkit-media-text-track-background {margin-bottom:100px;}
video::-webkit-media-text-track-display {margin-bottom:100px;}
video::-webkit-media-controls-fullscreen-button, video::-webkit-media-controls-play-button, video::-webkit-media-controls-pausebutton {display: none;}


/* Custom Controls */
/* Controls Structure */
.controls-animation-wrapper{position:absolute; width:100%; bottom:0; z-index:20;}
.video-controls{ position:relative; display:flex; flex-direction:column; justify-content: space-between; width:96%; height:5.555vh; margin-left:2%; margin-bottom:4.629vh; z-index:20; font-size:20px; font-weight:700;}
.video-controls-upper{width:100%; height:11px;  display: flex; flex-direction:row; justify-content: space-between; }
.video-controls-lower{width:100%; height:2.85vh;  display: flex; flex-direction:row; justify-content: space-between; align-items: center;}
.video-controls-lower .player-category{text-transform: uppercase; letter-spacing: .16em; }
.prev-next-controls{margin-right:1em;}
.video-controls-lower .prev-next-controls, .video-controls-lower .prev-next-controls .link{ letter-spacing: .16em; color:rgba(255,255,255,.5);}
.video-controls-lower .prev-next-controls strong{color:rgba(255,255,255,1);}
.video-controls-lower .back-link{letter-spacing: .1em; font-size: 18px;}
.video-controls-lower .controls-right{display: flex; flex-wrap:nowrap; justify-content: flex-end; align-items: center;}
.video-controls-lower .controls-right .chevron-up{ margin-bottom:.25em;}
.video-controls-lower .controls-right .right-icons{ display:flex;  font-size: 1.5em; letter-spacing: .5em; cursor: pointer; margin-left:5.46vw;; align-items:center;justify-content: space-between;}

/* Custom Sliders */
input[type=range]{ opacity:0.01; width: 100%; height: 100%; -webkit-appearance: none; 	margin: 0px; padding: 0px; border: 0 none; background: transparent; color: transparent; overflow: visible; z-index:101;}
input[type=range]:focus {outline: none;}
input[type=range], ::-moz-range-track, ::-ms-track {width: 100%; height: 100%; -moz-appearance: none; margin: 0px; padding: 0px; border: 0 none; background: transparent; color: transparent; overflow: visible;}
input[type=range]:focus::-webkit-slider-runnable-track{ background: transparent; border: transparent;}
input[type=range]::-webkit-slider-thumb, ::-moz-range-thumb, ::-ms-thumb {-webkit-appearance: none;outline: none;background-color: transparent;width: 21px;height: 21px;}
input[type=range]::-ms-fill-lower { background: transparent; border: 0 none;}
input[type=range]::-ms-fill-upper {background: transparent; border: 0 none;}
input[type=range]::-ms-tooltip {display: none;}
.volume-container{ border:0 none; overflow:visible; height:21px; width:100px;  padding-left: 15px; margin-right: 1.562vw;}
.scrubber-container{ border:0 none; position:absolute; overflow:visible; height:21px; width:100%;}

.volume-slider, .scrubber-slider{ border:0 none; position:relative; overflow:visible; width:100%; height:100%; display: flex; align-items: center; }
.slider{ position: absolute;  overflow: visible; z-index: 100;}
.slidertrack {border-radius:1px; position: absolute;height:3px;  width:100%;background-color:rgba(255,255,255,.5);}
.slidertrack-played{border-radius:1px; position: absolute; height:3px; left:0;  background-color:white;}
.sliderthumb { width: 21px; height: 21px; border-radius:50%; background-size: 21px 21px; background-position: 0px 0px; background-color:white; position: absolute; padding: 0; margin: 0; text-align: center; pointer-events: none;}

/* Icons */
.current-time{ display:flex; width:100%; justify-content:flex-end; margin-top:-3vw;}
.prev-next-icon{ display: inline-block; height:20px;width:10px;}
.volume-icon{width:2.1314vw;height:2.85vh;}
.cc-icon{height:2.85vh;width:2.5vw;margin-left: 1.562vw;}
.PlayPauseBtn{width:4.629vw; height:4.629vw; position:absolute; z-index: 10; top:calc(50% - 2.31245vw); left:calc(50% - 2.31245vw);}

.controls-scrim{width:100vw;height:120px;position:absolute;bottom:0;left:0;z-index:10; background: -moz-linear-gradient(top, rgba(20,20,20,0)0%,  rgba(20,20,20,1)100%); background: -webkit-linear-gradient(top, rgba(20,20,20,0)0%, rgba(20,20,20,1)100%); background: linear-gradient(to bottom,  rgba(20,20,20,0)0%, rgba(20,20,20,1)100%);}
